body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.card {
    display: none;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    height: 300px; /* Adjust the height as needed */
    overflow-y: auto; /* Add scrollbars if needed */
}

.card:target {
    display: block;
}

.card:target h2 {
    margin-top: 0;
}

.card:target div {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 50px; /* Adjust the margin-top as needed */
    margin-bottom: 100px; /* Adjust the margin-bottom as needed */
}
